body {
    background:  #fff;
    padding:     0 0 20px 0;
    font-family: 'Lato', sans-serif;
}

#container {
    width: 90%;
    margin:0px auto;
}

#header {
    background: #fff;
    width: 100%;
    height: 76px;
    position: relative;
    top: 0;
    left: 0;
}

#titlename {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 300%;
    letter-spacing: 4px;
}

#pdfname {font-weight: bold;}

#pdf {font-style: italic;}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

nav {
    float: right;
    padding: 20px;
}

ul.nav {
    list-style: none;
}

li.nav {
    display: inline-block;
    float: left;
    padding: 10px
}

a.nav {
    font-color: #111111;
    text-decoration: none;
}

a.nav:hover{
  border-bottom: 2px solid #f55856;
  text-decoration: none;
}

:hover {
    font-weight: bold;
}
