html, body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

@media (max-width: 800px) {
  html, body {
  margin-left: 10px;
  margin-right: 10px;
  }
}

h1 {
  font-size: 40px;
  text-align: center;
}

#profile-photo {
  border-radius: 50%;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 20px;
}

a, a:visited {
  color:#0056d6
}

.paper {
  padding: 20px;
}

.paper p {
  margin: 0;
  padding: 0;
}

.paper a{
  text-decoration: none;
}

.paper-title {
  font-weight: bold;
}

#footer {
  padding-top: 20px;
}